body {
    background-image: url("https://i.insider.com/517c2cefeab8ea042200002a?width=700&format=jpeg&auto=webp");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 5%;
}
.wrapper {
    position: relative;
    top: 300px;
    margin-top: 6.5%;
    margin-left: 50%;
    margin-bottom: 0%; 
}
.lefthead {
    position: relative;
    z-index: 1;
    height: 50px;
    width: 100px;
    border: solid 2px #ff9900;
    background-color: #808080;
    border-radius: 50%;
    transform: rotate(140deg);
}
.righthead {
    position: relative;
    z-index: 1;
    left: 85px;
    top: -50px; 
    height: 50px;
    width: 100px;
    border: solid 2px #ff9900;
    background-color: #808080;
    border-radius: 50%;
    transform: rotate(45deg);
}
.lefteye {
    position: relative;
    z-index: 2;
    height: 30px;
    width: 30px;
    left: 25px;
    top: 10px; 
    border-radius: 50%;
    background-color: black;
}
.righteye {
    position: relative;
    z-index: 2;
    height: 30px;
    width: 30px;
    left: 25px;
    top: 10px; 
    border-radius: 50%;
    background-color: black;
}
.neck {
    position: relative;
    left: 80px;
    top: -100px;
    z-index: 0;
    height: 100px;
    width: 25px;
    border: solid 1px black;
    background-color: #ff9900;
    border-radius: 5px;
}
.tor {
    position: relative;
    left: 20px;
    top: -100px;
    z-index: 1;
    height: 150px;
    width: 150px;
    border: solid 1px black;
    background-color: #ff9900;
    border-radius: 3px;
}
.toptor {
    position: relative;
    height: 40px;
    width: 150px;
    border: solid 1px black;
    background-color: #262626;
    border-radius: 3px;
}
.leftarm1 {
    position: relative;
    left: 20px;
    top: -240px;
    z-index: 1;
    height: 40px;
    width: 15px;
    border: solid 1px black;
    background-color: #808080;
    border-radius: 5px;
    transform: rotate(135deg);
}
.leftarm2 {
    position: relative;
    left: 10px;
    top: -270px;
    z-index: 1;
    height: 40px;
    width: 15px;
    border: solid 1px black;
    background-color: #808080;
    border-radius: 5px;
    transform: rotate(135deg);
}
.rightarm1 {
    position: relative;
    right: -155px;
    top: -320px;
    z-index: 1;
    height: 40px;
    width: 15px;
    border: solid 1px black;
    background-color: #808080;
    border-radius: 5px;
    transform: rotate(45deg); 
}
.rightarm2 {
    position: relative;
    right: -166px;
    top: -350px;
    z-index: 1;
    height: 40px;
    width: 15px;
    border: solid 1px black;
    background-color: #808080;
    border-radius: 5px;
    transform: rotate(45deg); 
}
.leftwheel {
    position: relative;
    height: 120px;
    width: 40px;
    top: -350px;
    left: -20px;
    z-index: 1;
    border: solid 1px black;
    border-radius: 3px;
    background-color: black;
}
.rightwheel {
    position: relative;
    height: 120px;
    width: 40px;
    right: -190px;
    border-radius: 3px;
    border: solid 1px black;
    background-color: black;
}
h4 {
    position: relative;
    top: 55px;
    left: 40px;
}

